<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email Id:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @student.phone_number %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %>

<%= link_to 'Back', students_path %>